<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h1>To do list</h1>

<h2><%= ha%></h2>

  </body>
</html>
