<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <h4>Hi <%= ha %></h4>
    <span class ="test"> TEST COLOR</span>
  </body>
</html>
